{% extends "base.html" %}

{% block content %}

<h1>AI-Based Lost & Found Object Matching System</h1>

<p>
Report lost or found objects and find possible matches.
</p>

<div class="grid">

<div class="card">

<h2>Lost Items</h2>

{% for x in lost %}

<div class="card">

<b>{{ x['item_name'] }}</b>

<br>

{{ x['category'] }}

<br>

{{ x['location'] }}

<br>

<a href="/matches/{{ x['id'] }}">
Find Matches
</a>

</div>

{% else %}

<p>No lost items.</p>

{% endfor %}

</div>


<div class="card">

<h2>Found Items</h2>

{% for x in found %}

<div class="card">

<b>{{ x['item_name'] }}</b>

<br>

{{ x['category'] }}

<br>

{{ x['location'] }}

<br>

<a href="/matches/{{ x['id'] }}">
Find Matches
</a>

</div>

{% else %}

<p>No found items.</p>

{% endfor %}

</div>

</div>

{% endblock %}
