{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Report {{ kind }} Item</h2>

<form
    method="POST"
    enctype="multipart/form-data"
>

<label>Item Name</label>

<input
    type="text"
    name="item_name"
    placeholder="Example: Black Wallet"
    required
>


<label>Category</label>

<input
    type="text"
    name="category"
    placeholder="Example: Wallet"
    required
>


<label>Colour</label>

<input
    type="text"
    name="color"
    placeholder="Example: Black"
    required
>


<label>Model Number</label>

<input
    type="text"
    name="model_number"
    placeholder="Example: ABC123"
>


<label>Location</label>

<input
    type="text"
    name="location"
    placeholder="Example: College Campus"
    required
>


<label>Date</label>

<input
    type="date"
    name="date"
    required
>


<label>Description</label>

<textarea
    name="description"
    rows="5"
    placeholder="Describe the item..."
    required
></textarea>


<label>Upload Image</label>

<input
    type="file"
    name="image"
    accept=".jpg,.jpeg,.png"
>


<button type="submit">

Submit {{ kind }} Report

</button>

</form>

</div>

{% endblock %}
